@using SiemensIXBlazor.Components
@using SiemensIXBlazor.Components.BasicNavigation
@using SiemensIXBlazor.Components.NavigationMenu
@using SiemensIXBlazor.Objects.Application
@inherits LayoutComponentBase
@inject NavigationManager NavigationManager;

<Application Id="application">
    <ApplicationHeader Name="Siemens.IX.Blazor">
        <div slot="logo"></div>
    </ApplicationHeader>
    <NavigationMenu Id="nav-menu-1">
        <NavigationMenuItem>Home</NavigationMenuItem>
        <NavigationMenuItem @onclick="() => { OnNavigationNodeClick(NavigationPage.IconButton); }">Icon Button</NavigationMenuItem>
    </NavigationMenu>
    <ix-content>
        @Body
    </ix-content>
</Application>

<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>

@code {
    private void OnNavigationNodeClick(NavigationPage page)
    {
        switch (page)
        {
            case NavigationPage.IconButton:
                NavigationManager.NavigateTo("IconButton");
                break;
            default:
                NavigationManager.NavigateTo("#");
                break;
        }
    }

    internal enum NavigationPage
    {
        Home,
        IconButton
    }
}