@using SiemensIXBlazor.Components
@using SiemensIXBlazor.Components.About
@using SiemensIXBlazor.Components.MenuSettings
@using SiemensIXBlazor.Objects.Application
@using SiemensIXBlazor.Components.BasicNavigation
@using SiemensIXBlazor.Components.NavigationMenu

@inherits LayoutComponentBase

<Application Id="application" Style="width:100vw; height:100vh;">
    <ApplicationHeader Name="Siemens.IX.Blazor">
        <div slot="logo"></div>
    </ApplicationHeader>
    <NavigationMenu Id="nav-menu-1">
        <a href=""><NavigationMenuItem Home Icon="home">Home</NavigationMenuItem></a>
        <NavigationMenuCategory Icon="globe" Label="Components">
            <a href="Button"><NavigationMenuItem>Button</NavigationMenuItem></a>
            <a href="IconButton"><NavigationMenuItem>Icon Button</NavigationMenuItem></a>
        </NavigationMenuCategory>
        <MenuSettings Id="settings">
          <MenuSettingsItem
            Label="Example Setting 1"
          ></MenuSettingsItem>
          <MenuSettingsItem
            Label="Example Setting 2"
          ></MenuSettingsItem>
        </MenuSettings>
        <AboutMenu Id="about-menu">
          <AboutMenuItem Label="New Features">Tab content here</AboutMenuItem>
        </AboutMenu>
        <AboutMenuNews Id="about-menu-news" Label="New Features" Show="true" AboutItemLabel="View documentation">
            News content can be displayed here
        </AboutMenuNews>
    </NavigationMenu>
    <Content>
        @Body
    </Content>
</Application>

<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>