@using SiemensIXBlazor.Components
@using SiemensIXBlazor.Objects.Application
@using SiemensIXBlazor.Components.BasicNavigation
@using SiemensIXBlazor.Components.NavigationMenu

@inherits LayoutComponentBase

<Application Id="application" Style="width:100vw; height:100vh;">
    <ApplicationHeader Name="Siemens.IX.Blazor">
        <div slot="logo"></div>
    </ApplicationHeader>
    <NavigationMenu Id="nav-menu-1">
        <a href=""><NavigationMenuItem Home Icon="home">Home</NavigationMenuItem></a>
        <ix-menu-category icon="globe" label="Components">
            <a href="IconButton"><NavigationMenuItem>Icon Button</NavigationMenuItem></a>
        </ix-menu-category>
    </NavigationMenu>
    <Content>
        @Body
    </Content>
</Application>

<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>